<div class="carousel">
  <div class="slider">
    <div class="slide">
      <img src="img/slider1.png">
      <div class="description">Eggs</div>
    </div>
    <div class="slide">
      <img src="img/slider2.png">
      <div class="description">Leaves</div>
    </div>
    <div class="slide">
      <img src="img/slider3.png">
      <div class="description">Prawns</div>
    </div>
    <div class="slide">
      <img src="img/slider4.png">
      <div class="description">Lettuce</div>
    </div>
    <div class="slide">
      <img src="img/slider5.png">
      <div class="description">Tomatoes</div>
    </div>
  </div>
</div>