<header>
  <!-- navigation -->
  <div>
    <nav class="navbar navbar-expand-lg">
      <div class="container header-container">
        <a class="navbar-brand" href="#"><img src="img/logo.png"></a>
        <button id="navBarTogglerButton" class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
          aria-label="Toggle navigation">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="338 20 16 10">
            <g data-name="Group 59">
              <path d="M338 20h16" stroke-linejoin="round" stroke-linecap="round" stroke="#498fcc" fill="transparent"
                data-name="Line 2" />
              <path d="M338 25h16" stroke-linejoin="round" stroke-linecap="round" stroke="#498fcc" fill="transparent"
                data-name="Line 3" />
              <path d="M338 30h16" stroke-linejoin="round" stroke-linecap="round" stroke="#498fcc" fill="transparent"
                data-name="Line 4" />
            </g>
          </svg>
        </button>
      </div>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="text-center nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="text-center nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="text-center nav-item">
            <a class="nav-link" href="#">Career</a>
          </li>
          <li class="text-center nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>