.carousel {
  height: 712px;
  display: flex;
  justify-content: center;
  .slider {
    margin-top: 100px;
    width: 1160px;
    height: 612px;
    .slide {
      position: relative;
      img {
        width: 100%;
        height: 100%;
      }
      .description {
        width: 500px;
        height: 150px;
        display: grid;
        color: white;
        font-size: 32px;
        line-height: 43px;
        font-family: Roboto;
        font-weight: bold;
        place-content: center;
        position: absolute;
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.3);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .carousel {
    height: 228px;
    .slider {
      margin-top: 48px;
      width: 320px;
      height: 180px;
      .slide {
        .description {
          width: 144px;
          height: 44px;
          font-size: 16px;
          line-height: 21px;
        }
      }
    }
  }
}
