a.nav-link {
  color: #7b7b7b !important;
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  margin-left: 16px;
}

.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 100px !important;
  margin-right: 142px;
}

.navbar-brand {
  margin-left: 139px;
  img {
    height: 45px;
    width: 275px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 50px !important;
    margin-right: 0 !important;
  }

  .navbar-collapse {
    background-color: #498fcc !important;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .header-container {
    height: 50px;
  }

  a.nav-link {
    color: white !important;
    margin: 0;
    font-size: 16px;
    line-height: 21px;
  }

  .navbar-brand {
    margin-left: 16px;
    img {
      height: 26px;
      width: 156px;
    }
  }
}
