.home {
  background-image: url("../img/banner.jpg");
  height: 765px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 912px;
}

@media only screen and (max-width: 600px) {
  .home {
    background-image: url("../img/banner.jpg");
    height: 301px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 301px;
    background-position-y: 51px;
  }
}
