.home {
  background-image: url("../img/banner.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.home {
  height: 765px;
  background-size: 100% 912px;
}

@include media-breakpoint-down(lg) {
  .home {
    height: 500px;
    background-size: 100% 500px;
  }
}

@include media-breakpoint-down(sm) {
  .home {
    height: 301px;
    background-size: 100% 301px;
    background-position-y: 50px;
  }
}
